/* font-family: p22-underground, sans-serif; */
/* normal 300, 400, 500, 900 */

/* font-family: source-sans-pro, sans-serif; */
/* normal italic 400, normal 700 */

html, body {
  margin: 0;
  font-family: source-sans-pro, sans-serif;
  font-size: 16px;
  background: #292929;
  scroll-behavior: smooth;
}

/* (about) a propos, (work) portfolio,  */
.big-gray-title {
  padding-top: 30vh;
  color: #bfbfbf;
  font-family: p22-underground, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  animation: fadein 3000ms;
}

/* (index) Hyewon Kim, (index-mobile) Bonjour!, (about) Hyewon Kim, (work) Design Sprint & UI design... titles */
.big-yellow-title {
  padding: 2rem 0;
  color: #FFEF64;
  font-size: 5rem;
  font-family: p22-underground, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

/* (index-mobile) Je vous invite a visualiser...,  (work) Projet, Role, Date & Lieu, (work) Map, Sketch, User test flow...*/
.fat-gray-title {
  padding: 1rem 0;
  color: #bfbfbf;
  font-family: p22-underground, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.7px;
  font-weight: 400;
}

/* (work) Processus du projet,... */
.slim-gray-title {
  padding: 2rem 0;
  color: #bfbfbf;
  font-family: p22-underground, sans-serif;
  font-size: 2.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.7px;
  font-weight: 500;
}

/* (index) Je traduis vos idee..., (work-doctolib) list de processus */
.big-gray-text {
  padding: 2rem 0;
  color: #bfbfbf;
  font-family: p22-underground, sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.7px;
  font-weight: 300;
}

/* p, ol, ul */
.gray-text {
  color: #bfbfbf;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  line-height: 2em;
}

/* division line */
hr {
  border-top: 1px solid #bfbfbf;
  width: 150px;
  margin-left: 0;
  opacity: 30%;
}

/* rounded image */
img {
  width: 100%;
  border-radius: 16px;
  margin: 16px;
}

.container {
  margin: 0;
  padding: 150px 100px;
}

.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  top: 3em;
  left: 20vw;
  width: 60vw;
  z-index: 10;
}

.button {
  display: inline-block;
  height: 3.25em;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 2em;
  text-align: center;
  color: #bfbfbf;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 1.2em;
  transition: 0.3s;
}

.bottombar {
  position: fixed;
  height: 50px;
  bottom: 30px;
  right: 150px;
  opacity: 60%;
  z-index: 2;
}

.bottombar > div {
  display: inline-block;
}

.bottom-button {
  padding: 1rem;
  margin: 0 10px;
  display: inline;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #bfbfbf;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 1.2em;
  transition: 0.3s;
  cursor: pointer;
}

.underline {
  margin: 0 30px;
}

.underline::after {
  content: '';
  display: block;
  width: 0;
  margin-top: 20px;
  height: 2px;
  background: #FFEF64;
  transition: width .3s;
}

.underline:hover::after {
  width: 100%;
}

.name {
  width: 3.3em;
}

.name:hover {
  width: 7em;
  cursor: none;
}

.name:hover .yewon {
  display: inline;
}

.works, .about {
  flex-grow: 1;
  margin-left: 3em;
}

.button:hover {
  box-shadow: 12px 12px 16px #1b1b1b, -12px -12px 16px #2f2f2f;
  background: rgb(41, 41, 41, 80%);
}

.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% { color: #bfbfbf; }
  50% { color: #FFEF64; }
  100% { color: #bfbfbf; }
}

a {
  text-decoration: none;
}

a:hover {
  box-shadow: none;
}

.yewon {
  display: none;
}

#bonjour {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 40vw;
  animation: fadein 3000ms;
}

#bonjour > .big-yellow-title {
  text-align: left;
  margin: 0;
}

#bonjour > .big-gray-text {
  width: 80%;
  margin-top: 20px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes Move {
  0%, 100% { top: 87vh; }
  50% { top: 90vh; }
}

.work {
  padding-bottom: 200px;
}

.quote {
  font-size: 1.5em;
  font-style: italic;
}

.yellow {
  color: #FFEF64;
}

.main-img {
  margin: 50px 0;
}

.small-img {
  width: 80%;
  margin-top: 50px;
}

.big-img {
  margin: 100px 0;
}

.mid {
  margin: 100px auto;
  width: 60%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

#portfolio {
  position: relative;
  top: 40vh;
  width: 100%;
  margin: 300px auto;
}

.arrow {
  position: relative;
  height: 100px;
  margin: 150px auto;
}

.flex-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  margin: 120px auto;
  flex-direction: row;
}

@media only screen and (max-width: 1200px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-item {
  flex: 1;
  margin: 20px;
  padding: 40px 50px;
}

.card {
  flex: 1;
  margin: 20px;
  padding: 30px 48px;
  background: #242424;
  border-radius: 16px;
}

.shadow {
  background: #242424;
  border-radius: 16px;
}

.mobile {
  display: none;
}

.footer {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 300px auto 50px auto;
}

.button-container {
  display: flex;
  position: relative;
  width: 40%;
  margin: 100px auto 150px;
  text-align: center;
}

.solobutton {
  flex: 1;
  margin: 0 5px;
}

@media only screen and (max-width: 1400px) {
  .mid {
    width: 100%;
  }

  .first {
    order: 1;
  }
}

@media only screen and (max-width: 600px) {
  html, body {
    overflow: hidden;
  }

  body * {
    display: none;
  }

  .navbar {
    display: none;
  }

  .mobile {
    display: block;
  }
}
