@font-face {
  font-family: 'RadioGrotesk';
  src: url('RadioGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: url('RadioGrotesk-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('RadioGrotesk-Regular.woff') format('woff'), /* Modern Browsers */
       url('RadioGrotesk-Regular')  format('truetype'), /* Safari, Android, iOS */
}

body, html {
  margin: 0;
  box-sizing: border-box;
  font-family: 'RadioGrotesk', Helvetica, sans-serif;
  width: 100vw;
  background-color: #EFEEEE;
}

main {
  position: relative;
  width: 100vw;
  box-sizing: border-box;
}

footer {
  box-sizing: border-box;
  padding: 12px 16px;
  margin: 0;
  width: 100vw;
  bottom: 0;
}

.intro {
  position: relative;
  box-sizing: border-box;
  padding: 0 16px;
  margin: 0;
  width: 100vw;
}

.main {
  position: relative;
  box-sizing: border-box;
  background-color: #1C1C1F;
  width: 100vw;
  padding: 240px 16px 330px 16px;
  margin-top: 70px;
}

.fill {
  position: relative;
  box-sizing: border-box;
  background-color: #1C1C1F;
  width: 100vw;
  height: auto;
  padding: 0 16px 0 16px;
  margin-top: 3em;
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.projet {
  position: relative;
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

h1 {
  position: relative;
  top: 60px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.4;
}

h2 {
  font-size: 48px;
  color: #A9A9A9;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  color: #828282;
  font-weight: 300;
  margin: 10px 0;
}

h3:hover {
  font-style: italic;
}

h4 {
  font-size: 14px;
  color: #000;
  font-weight: normal;
  margin: 0;
  user-select: none;
}

hr {
  border: 0px solid #828282;
  height: 1px;
  background-color: #828282;
}

.graytext {
  color: #D3D3D3;
}

#navbar {
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
  background-color: #EFEEEE;
  padding: 0;
  top: -4px;
}

#navbar li {
  position: relative;
  color: #000;
  font-size: 24px;
  text-decoration: none;
}

.button {
  position: relative;
  top: 64px;
  padding: 10px;
  font-family: 'RadioGrotesk', Helvetica, sans-serif;
  font-size: 36px;
  box-sizing: border-box;
  border-radius: 68px;
  padding: 0 24px 0 24px;
  text-decoration: none;
  color: inherit;
}

.link {
  position: relative;
  padding: 10px;
  font-family: 'RadioGrotesk', Helvetica, sans-serif;
  font-size: 36px;
  box-sizing: border-box;
  border-radius: 68px;
  padding: 0 24px 0 24px;
  text-decoration: none;
  color: inherit;
  border: 3px solid #828282;
  color: #828282;
}

.link:hover {
  background-color: #828282;
  color: #1C1C1F;
}

.ok {
  position: relative;
  display: inline-block;
  margin: 20px 0 10px 0;
  font-family: 'RadioGrotesk', Helvetica, sans-serif;
  font-size: 36px;
  box-sizing: border-box;
  border-radius: 68px;
  padding: 0 24px;
  text-decoration: none;
  color: #828282;
  border: 3px solid #828282;
}

.ok:hover {
  background-color: #828282;
  color: #1C1C1F;
}

#bonjour {
  border: 3px solid #000;
}

#bonjour:hover {
  background-color: #000;
}

#bonjour:hover span {
  display: none;
}

#bonjour:hover:before {
  content: "Dire bonjour→";
  color: #EFEEEE;
  font-size: 36px;
}

#message {
  border: 3px solid #828282;
  color: #828282;
  top: 150px;
  margin-bottom: 200px;
}

#cv {
  border: 3px solid #828282;
  color: #828282;
  top: 5vh;
}

@media only screen and (max-width: 321px) {
  .button, .ok, #bonjour:hover:before {
    font-size: 24px;
  }
  #message:hover:before {
    font-size: 24px;
  }
  #cv:hover:before {
    font-size: 20px;
  }
}

#message:hover {
  background-color: #828282;
}

#message:hover span{
  display: none;
}

#message:hover:before {
  content: "J'écris un mail";
  color: #1C1C1F;
  font-size: 36px;
}

#cv:hover {
  background-color: #828282;
  color: #1C1C1F;
}

#cv:hover span{
  display: none;
}

#cv:hover:before {
  content: "Télécharger en PDF→";
  color: #1C1C1F;
}

#ballbox {
  position: relative;
  margin: 0 0 100px 60%;
}

#ball {
  position: absolute;
  margin: 0 0 0 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #EFEEEE;
  animation: ball 1s ease-in Infinite Alternate;
}

@keyframes ball {
    0% {
        top: 0;
        width: 6.25rem;
        height: 6.25rem;
    }
    95% {
        height: 6.25rem;
        width: 6.25rem;
    }
    to {
        top: 21.875rem;
        width: 7.18rem;
        height: 5.625rem;
    }
}

.smooth {
  transition: height .5s;
}

.photo {
  width: 100%;
  height: auto;
}

.s-photo {
  width: 50%;
}

.gif {
  max-width: 50%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-container {
  width: 100%;
  margin-top: 20px;
}

.video {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.video iframe {
  border: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
